name: Rokku-STS master branch build

on:
  push:
    branches:
      - master

env:
  DOCKER_REPO: wbaa/rokku-sts

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 25
      uses: actions/setup-java@v3
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: 'sbt'
    - name: Set up sbt
      uses: sbt/setup-sbt@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Set up Docker Compose
      run: |
          sudo apt-get update
          sudo apt-get install docker-compose -y
    - name: Run docker-compose
      run: docker-compose up -d && ./scripts/waitForContainerSetup.sh
    - name: Run tests
      run: sbt clean coverage test it:test coverageReport

  tag:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: '0'
    - name: Bump version and push tag
      uses: anothrNick/github-tag-action@1.75.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        TAG_PREFIX: v
        VERBOSE: true
        DEFAULT_BUMP: patch

  upload-image:
    runs-on: ubuntu-latest
    needs: tag
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: '0'
    - name: Set up sbt
      uses: sbt/setup-sbt@v1
    - name: Build and publish docker image
      run: |
        # Login to docker
        echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

        # Build docker image
        ROKKU_STS_VERSION=$(git describe --tags --abbrev=0) sbt clean docker:publish;
        echo "Built image $DOCKER_REPO:$(git describe --tags --abbrev=0)";

        # Add latest tag
        docker tag $DOCKER_REPO:$(git describe --tags --abbrev=0) $DOCKER_REPO:latest;
        docker push $DOCKER_REPO:$(git describe --tags --abbrev=0)
        docker push $DOCKER_REPO:latest
