name: Rokku-STS feature branch build

on:
  push:
    branches-ignore:
      - master

env:
  DOCKER_REPO: wbaa/rokku-sts

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 25
      uses: actions/setup-java@v5
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: 'sbt'
    - name: Set up sbt
      uses: sbt/setup-sbt@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Set up Docker Compose
      run: |
          sudo apt-get update
          sudo apt-get install docker-compose -y
    - name: Run docker-compose
      run: docker-compose up -d && ./scripts/waitForContainerSetup.sh
    - name: Run tests
      run: sbt clean coverage test it:test coverageReport

  upload-image:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: '0'
    - name: Build and publish docker image
      run: |
        # Login to docker
        echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

        # Build docker image
        echo "Build image $DOCKER_REPO:${GITHUB_REF##*/}";
        ROKKU_STS_VERSION=${GITHUB_REF##*/} sbt clean docker:publish;
